@model C2CChat.Models.ChatMessage
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Index";

}


<link href="~/Content/ChatDesign/css/style.css" rel="stylesheet" />


<h1>Chat Support</h1>

@{

    <div class="col-lg-6" style="margin:auto">
        <h3>Online Users</h3>
        <table class="table-responsive table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>User Name</th>
                    <th></th>
                </tr>

            </thead>
            <tbody>
                @{
                    int count = 1;
                }
                @foreach (var item in ViewBag.OnlineUsers as IEnumerable<C2CChat.Models.ChatUser>)
                { 
                    <tr>
                    <td>@count</td>
                    <td>@item.UserName </td>
                      <td><a class="openPopup" href="@Url.Action("Support", "Home", new { chatUserId=item.ID })">StartChat</a>  </td>
                    </tr>
                    count += 1;
                }
            </tbody>
        </table>


    </div>
}
    

<div class="clearfix"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="/signalr/hubs" type="text/javascript"></script>
    <script src="~/Scripts/knockout-3.3.0.js"></script>
    <script src="~/Scripts/ChatManagerCustomer.js"></script>
    <script>
    window.setTimeout(
function () {
    location.reload(true)
},
3000
);

    $(function () {

        $('.openPopup').click(function () {
            var url = $(this).attr("href");
                newwindow = window.open(url, "Live Chat", 'height=640,width=600');
                if (window.focus) { newwindow.focus() }
                return false;
            
        })
        })

        
    

</script>
<script type="text/javascript">
    

    
</script>

}
